.mgvGrid {
  --mgv-grid-columns-s: 1;
  --mgv-grid-columns: var(--mgv-grid-columns-s);
  
  display: grid;
  grid-template-columns: repeat(var(--mgv-grid-columns), 1fr);
  gap: var(--mgv-gap);

  @media (min-width: 48rem) {
    --mgv-grid-columns-m: var(--mgv-grid-columns-s);
    --mgv-grid-columns: var(--mgv-grid-columns-m);
  }
  
  @media (min-width: 64rem) {
    --mgv-grid-columns-l: var(--mgv-grid-columns-m);
    --mgv-grid-columns: var(--mgv-grid-columns-l);
  }
  
  @media (min-width: 75rem) {
    --mgv-grid-columns-xl: var(--mgv-grid-columns-l);
    --mgv-grid-columns: var(--mgv-grid-columns-xl);
  }

  & > * {
    --mgv-grid-colspan-s: 1;
    --mgv-grid-colspan: var(--mgv-grid-colspan-s);

    grid-column: auto / span var(--mgv-grid-colspan);

    @media (min-width: 48rem) {
      --mgv-grid-colspan-m: var(--mgv-grid-colspan-s);
      --mgv-grid-colspan: var(--mgv-grid-colspan-m);
    }
  
    @media (min-width: 64rem) {
      --mgv-grid-colspan-l: var(--mgv-grid-colspan-m);
      --mgv-grid-colspan: var(--mgv-grid-colspan-l);
    }
  
    @media (min-width: 75rem) {
      --mgv-grid-colspan-xl: var(--mgv-grid-colspan-l);
      --mgv-grid-colspan: var(--mgv-grid-colspan-xl);
    }
  }
}