.mgvLink {
  display: inline-flex;
  flex-direction: row;
  gap: var(--mgv-gap);
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0 var(--mgv-border-radius);
  border-radius: var(--mgv-border-radius);
  color: inherit;
}
