.mgvView {
  --display: flex;

  display: var(--display);
  flex-direction: column;

  & + .mgvView::before {
    content: '';
    margin: 2rem 0;
    border-bottom: 2px dashed #000;
  }
}

.mgvPage--js {
  .mgvView {
    display: none;

    &:target {
      display: var(--display);
    }

    & + .mgvView::before {
      display: none;
    }
  }
}
